<%- include('./partials/header.ejs') %>
    <div class="profile w-full min-h-screen  bg-zinc-800 text-zinc-100 pt-1 ">
        <form hidden id="uploadform" action="/file-upload" method="post" enctype="multipart/form-data">
            <input type="file" name="image">
        </form>
        <div class="profdets flex flex-col items-center mt-28">
            <div class="relative">
                <span id="uploadicon"
                    class="absolute bottom-2 right-2 w-6 h-6 rounded-full bg-zinc-300 text-zinc-900 flex items-center justify-center cursor-pointer">
                    <i class="fa-solid fa-pencil"></i>
                </span>
                <div class="w-32 h-32 rounded-full overflow-hidden bg-zinc-200 ">
                    <img class="w-full h-full bg-cover  "
                        src="/images/<%= user.profileImage %>">
                </div>
            </div>
            <h1 class="text-3xl font-semibold mt-3"><%= user.username %></h1>
            <div class="flex gap-2 items-center justify-center text-md ">
                <img class="rounded-full w-6 h-6 " src="/images/pc.logo.png">
                <h3><%= user.email %></h3>
            </div>
            <!--<a class="px-5 py-2  bg-zinc-700 rounded-full font-semibold text-sm cursor-pointer mt-3" href="/Edit">Edit
                Profile</a>-->
            <a href="/add" class="px-8 py-3 bg-red-900 text-md font-semibold mt-5 rounded-full cursor-pointer">Add New Post</a>
        </div>
        <div class="cards flex flex-wrap gap-10 px-35   mt-16">

            <% if (user.posts.length === 0) { %>
                <div class="card w-full mt-10  flex items-center justify-center text-4xl opacity-10">No post is available</div>
            <% } else { %>
                <a href="/posts">
                <div class="card">
                    <div class="w-56 h-40  rounded-lg overflow-hidden">
                        <img class="bg-cover w-full h-full "
                            src="/images/<%= user?.posts[0]?.image  %>">
                    </div>
                    <h3 class="text-xl font-semibold mt-3">Your uploaded posts</h3>
                    <h5 class="text-sm font-medium opacity-60"><%= user.posts.length %>posts</h5>
                </div>
                </a>
            <% } %>
        </div>
    </div>

    <script>
        document.querySelector('#uploadicon').addEventListener('click',function(){
            document.querySelector('#uploadform input').click()
        })

        document.querySelector('#uploadform input').addEventListener('change',function(){
            document.querySelector('#uploadform').submit()
        })

        
    </script>
    <%- include('./partials/footer.ejs') %>